@import "../../../helpers/variables.scss";

.profileLogic {
  padding: 40px 180px 76px 180px;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 40px 0px;
    align-items: center;
    text-align: center;
  }

  &__container {
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
    margin-right: 70px;
  }

  &__link {
    padding: 12px 16px;
    border-radius: 12px;
    border: 0.5px solid $greenColor;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: $blackColor;

    display: flex;
    align-items: center;
    gap: 14px;
  }
  
  &__active {
    background-color: $greenColor;
    color: $whiteColor;
  }

  &__profile {
    width: 16px;
    height: 16px;
    background-image: url("../../../img/Profile2.svg");

    &-active {
      background-image: url("../../../img/ProfileWhite.svg");
    }
  }

  &__payment {
    width: 20px;
    height: 16px;
    background-image: url("../../../img/PayBlack.svg");

    &-active {
      background-image: url("../../../img/PayWhite.svg");
    }
  }

  &__history {
    width: 20px;
    height: 18px;
    background-image: url("../../../img/TimeBlack.svg");

    &-active {
      background-image: url("../../../img/TimeWhite.svg");
    }
  }

  &__logout {
    width: 17.791px;
    height: 18px;
    background-image: url("../../../img/LogOutBlack.svg");
  }

  &__mainContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    padding-left: 70px;
    border-left: 1px solid $liteGrayColor;
  }

  &__profileImg {
    background-image: url("../../../img/Man.svg");
    width: 82px;
    height: 82px;
  }

  &__miniCont {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 34px;
  }

  &__name {
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: $blackColor;
  }

  &__location {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
    color: $grayColor;
  }

  &__phone {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: $text2Color;
  }

  &__inputBox {
    padding: 20px 16px;
    border-radius: 12px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
    margin-top: 48px;
    display: flex;
    flex-direction: column;
  }

  &__headerText {
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: $blackColor;
    text-align: center;
    margin-bottom: 55px;
  }
}