@import "../../../helpers/variables.scss";

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 13px;

  &__img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 23px;

    @include onPhone {
      width: 60px;
      height: 60px;
    }
  }

  &__bigContainer {
    display: flex;
    flex-direction: column;
  }

  &__item {
    @for $start from 1 through 4 { 
      @for $end from $start through 4 {
        &--desctop-#{$start}-#{$end} {
        grid-column: #{$start} / #{$end + 1};
        }
      }
    }
  }
}