@import "../../../helpers/variables.scss";

.select {
  position: relative;
  transition: all 0.5s ease;
  border: 0.5px solid $liteGrayColor;
  border-radius: 16px;
  display: flex;
  gap: 20px;
  padding: 5px;

  @include onPhone {
    margin-top: 20px;
  }

  &__name {
    cursor: pointer;
    display: flex;
    padding: 20px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 12px;
    border: 0.5px solid $grayscaleColor;
    color: $text2Color;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%
  }

  &__target {
    border: none;
    background-color: $greenColor;
    color: $whiteColor;
  }

  &__button {
    background-image: url("../../../img/MiniArrow.svg");
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &--target {
      background-image: url("../../../img/WhiteArrow.svg");
    }
  }

  &__container {
    padding: 10px 12px;
    background-color: $whiteColor;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    width: 305px;
    height: max-content;
    margin-top: 5px;
    position: absolute;
    z-index: 1;

    @include onPhone {
      width: calc(100vw - 80px);
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__top {
    display: flex;
    flex-direction: row-reverse;
  }

  &__text {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: $text2Color;
  }

  &__apply {
    background-color: $greenColor;
    border-radius: 12px;
    border: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    padding: 13px;
    margin-top: 12px;
    color: $whiteColor;
    flex-grow: 1;
    cursor: pointer;
  }

  &__flex {
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $grayscaleColor;
    width: 305px;
  }
}