@import "../../../helpers/variables.scss";

.main {

  &__topOptions {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;

    padding: 40px 70px;

    @include onPhone {
      flex-direction: column-reverse;
    }
  }

  &__miniContainer {
    display: flex;
    align-items: center;

    @include onPhone {
      gap: none;
    }

    &--colum {
      @include onPhone {
        flex-direction: column;
        gap: 20px;
      }
    }
  }

  &__watch {
    display: flex;
    align-items: center;
  }

  &__defolt {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    color: $greenColor;
    margin: 0px 30px;
    cursor: pointer;
  }

  &__shown {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: $grayColor;
  }

  &__insta {
    background-image: url("../../../img/Instagram.svg");
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 30px;
  }

  &__cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    padding: 40px 70px;

    @include onPhone {
      padding: 16px;
      justify-content: center;
    }
  }

  &__button {
    background-color: $whiteColor;
    border-radius: 12px;
    border: 1px solid $liteGrayColor;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; 
    color: $blackColor;
    flex-grow: 1;
    cursor: pointer;
    padding: 13px;
    max-width: 480px;
  }

  &__buttonContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;

    @include onPhone {
      margin-bottom: 56px;
      padding: 16px;
    }
  }
}