$whiteColor: #fff;
$greenColor: #1B998B;
$grayColor: #99999D;
$darkGrayColor: #615F5F;
$blackColor: #333333;
$liteGrayColor: #AEAEB4;
$grayscaleColor: #EBEBEB;
$darkWhiteColor: #F5F5FA;
$text2Color: #615F5F;
$backgroundColor: #CBCCCE;
$gray4: #84848D;

@mixin onPhone {
  @media (max-width:780px) {
    @content;
  }
}

@mixin onDesktop {
  @media (max-width:1024px) {
    @content;
  }
}