@import "../../../helpers/variables.scss";

.successOrder {
  padding: 0 170px;

  @include onPhone {
    padding: 0;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include onPhone {
      padding: 0 16px;
    }
  }

  &__check {
    background-image: url("../../../img/Check.svg");
    width: 17.5px;
    height: 13.41px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__header {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; 
    color: $blackColor;

    @include onPhone {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
    }
  }

  &__text {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; 
    color: $text2Color;
  }

  &__email {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
    margin-bottom: 144px;

    @include onPhone {
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      color: $blackColor;
      margin-bottom: 56px;
    }
  }
}