@import "../../../helpers/variables.scss";

.card {
  display: flex;
  flex-direction: column;
  width: 413px;
  height: 419px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
  border-radius: 16px;

  @include onPhone {
    width: 175px;
    height: 190px;
  }

  &__top {
    height: 345px;
    position: relative;

    @include onPhone {
      height: 145px;
    }
  }

  &__minicontainer {
    display: flex;
    align-items: center;
  }

  &__img {
    width: 100%;
    height: 100%; 
  }

  &__like {
    background-image: url("../../../img/Favorite.svg");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    left: 20px;
    bottom: 24px;
    background-size: contain;

    @include onPhone {
      left: 5px;
      bottom: 5px;
      width: 24px;
      height: 24px;
    }
  }

  &__chart {
    background-image: url("../../../img/Chart.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 32px;
    border: none;
    right: 20px;
    bottom: 24px;
    cursor: pointer;
    position: absolute;
    background-size: contain;

    @include onPhone {
      right: 5px;
      bottom: 5px;
      width: 29px;
      height: 24px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 16px;

    @include onPhone {
      padding: 12px 10px;
    }
  }

  &__name {
    color: $blackColor;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    max-width: 200px;

    @include onPhone {
      font-size: 12px;
      font-weight: 400;
      line-height: 130%;
    }
  }

  &__price {
    color: $blackColor;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;

    @include onPhone {
      font-size: 12px;
      font-weight: 400;
      line-height: 130%;
    }
  }
}