@import "../../../helpers/variables.scss";

.card {
  display: flex;
  flex-direction: column;
  width: 413px;
  height: 490px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
  border-radius: 16px;

  @include onPhone {
    width: 175px;
    height: 190px;
  }

  &__top {
    width: 413px;
    height: 419px;
    position: relative;

    @include onPhone {
      height: 145px;
    }
  }

  &__minicontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__img {
    width: 100%;
    height: 100%; 
    border-radius: 16px;
    cursor: pointer;
  }

  &__notLike {
    background-image: url("../../../img/Favorite.svg");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    left: 20px;
    bottom: 24px;
    background-size: contain;

    @include onPhone {
      left: 5px;
      bottom: 5px;
      width: 24px;
      height: 24px;
    }
  }

  &__like {
    background-position: center;
    width: 30px;
    height: 25px;
    background-image: url("../../../img/Liked.svg");
  }

  &__chart {
    width: 18px;
    height: 18px;
    background-image: url("../../../img/Chart.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;

    @include onPhone {
      right: 5px;
      bottom: 5px;
      width: 11.6px;
      height: 12px;
    }

    &--cont {
      right: 20px;
      bottom: 24px;
      cursor: pointer;
      position: absolute;
      border: none;
      border-radius: 8px;
      background-color: $greenColor;
      padding: 7px 11px;
      display: flex;
      align-items: center;

      @include onPhone {
        right: 5px;
        bottom: 5px;
        padding: 6px 9px;
      }
      
    &--select {
      background-color: #005D4F;
    }
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 16px;
    cursor: pointer;

    @include onPhone {
      padding: 12px 10px;
    }
  }

  &__name {
    color: $blackColor;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    max-width: 200px;
    margin: 0;

    @include onPhone {
      font-size: 12px;
      font-weight: 400;
      line-height: 130%;
    }
  }

  &__price {
    color: $blackColor;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin: 0;

    @include onPhone {
      font-size: 12px;
      font-weight: 400;
      line-height: 130%;
    }
  }

  &__noAbsolute {
    position:inherit;

  }
}