@import "../../../helpers/variables.scss";

.orderForm {

  &__header {
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: $greenColor;
    text-align: center;
    margin-top: 88px;

    @include onPhone {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      margin-top: 32px;
    }
  }

  &__container {
    margin: 0 170px;

    @include onDesktop {
      margin: 0;
    }
  }

  &__regionCont {
    position: absolute;
    z-index: 1;
    background-color: $whiteColor;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 20px;
    padding: 21px;
    top: 0;
    left: 0;
    margin-top: 105px;

    max-height: 300px;
    overflow-y: auto; 

    cursor: pointer;
  }

  &__region {
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
    color: $blackColor;
    padding: 0;
    border-radius: 12px;
  }

  &__inputBox {
    @include onPhone {
      margin-top: 0 !important;
    }
  }
}