@import "../../../helpers/variables.scss";

.carousel {
  margin-top: 50px;
  margin-bottom: 75px;
  padding: 40px 70px;

  @include onPhone {
    padding: 0;
  }

  &__title {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    color: $darkGrayColor;

    
    @include onPhone {
    margin-left: 16px;
    }
  }
  
  &__add {
    display: flex;
    height: 48px;
    padding: 26px 130px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: $greenColor;
    border: none;

    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    color: $whiteColor;

    position: absolute;
    left: 60px;
    bottom: 100px;

    cursor: pointer;

    @include onPhone {
      width: 160px;
      height: 20px;
      padding: 20px;

      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;

      left: 30px;
      bottom: 40px;
    }
  }

  &__slide {
    background-position: center;
    width: 1300px;
    height: 868px;

    @include onPhone {
      height: 350px;
      width: 100%;
    }
  }

  &__button {
    width: 56px;
    height: 56px;
    border-radius: 30px;
    border: none;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-color: rgba($darkGrayColor, 0.7);
    cursor: pointer;
    margin: 80px;

    @include onPhone {
      margin: 30px;
    }

    &--prev {
      background-image: url(../../../img/LeftArrow.svg);
    }

    &--next {
      background-image: url(../../../img/RightArr.svg);
    }
  }
}

.carousel__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 868px;
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
  position: relative;

  @include onPhone {
    height: 350px;
    width: 100%;
    border-radius: 0px;
  }
}

.react-slideshow-container + ul.indicators {
  gap: 14px;
}

.react-slideshow-container + ul.indicators .each-slideshow-indicator:before {
  background: $greenColor !important;

  @media (max-width: 640px) {
    display: none !important;
  }
}

.each-slide {
  position: relative;

  @include onPhone {
    height: 320px;
    width: 100%;
  }
}